@import "tailwindcss";

@theme inline {
  --color-primary: #11d473;
  --color-accent-gold: #d4af37;
  --color-background-light: #f6f8f7;
  --color-background-dark: #102219;
  --color-neutral-dark: #111814;
  --color-neutral-muted: #618975;
  --font-display: "Public Sans", sans-serif;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

html {
  color-scheme: light;
}

body {
  font-family: var(--font-display);
  background-color: #f6f8f7;
  color: #111814;
}
